In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
import json
import statsmodels.api as sm
from statsmodels.formula.api import glm, ols

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
import math

In [2]:
dictionary=pd.read_csv("dictionary.csv")

with open("IMDB_dftouse_dict.json", "r") as fd:
    IMDB = json.load(fd)
IMDB_df = pd.DataFrame(IMDB)

In [3]:
valences = {word: valence for word, valence in zip(dictionary.words.values,dictionary.valences.values)}

In [4]:
dictionary.head()

   valences      words
0        -2    abandon
1        -2  abandoned
2        -2   abandons
3        -2   abducted
4        -2  abduction

In [5]:
IMDB_df.head()

   movie_id movie_name positive  stars                                               text                                                url
0     10027    Titanic     True      7  Sure, Titanic was a good movie, the first time...  http://www.imdb.com/title/tt0120338/usercommen...
1     10028    Titanic     True     10  When I saw this movie I was stunned by what a ...  http://www.imdb.com/title/tt0120338/usercommen...
2     10029    Titanic     True     10  Why do people bitch about this movie and not a...  http://www.imdb.com/title/tt0120338/usercommen...
3     10030    Titanic     True     10  What's inexplicable? Firstly, the hatred towar...  http://www.imdb.com/title/tt0120338/usercommen...
4     10031    Titanic     True     10  Previously, I wrote that I loved "Titanic", cr...  http://www.imdb.com/title/tt0120338/usercommen...

In [6]:
from sklearn.feature_extraction import text
stopwords = text.ENGLISH_STOP_WORDS
punctuation = list('.,;:!?()[]{}`''\"@#$%^&*+-|-=~_')

In [95]:
def getValenceInfo(text, valenceDict):
    total_words = len(text.split())
    total, count_relevant = 0, 0
    for word in text.split():
        if word in valenceDict.keys():
            count_relevant += 1
            total += valenceDict[word]
    # return total valence, average valence, length of review in words, fraction of contributing words
    if count_relevant != 0: 
        avg_valence = 1.*total/count_relevant
    else: 
        avg_valence = 0
    return total, avg_valence, total_words, 1.*count_relevant / total_words

def removeStopWords(text, stopwords = stopwords):
    new_text = ""
    for word in text.split():
        if word not in stopwords:
            while len(word) != 0 and word[-1] in punctuation:
                word = word[:len(word)-1]
            new_text += word + ' '
    return new_text

In [96]:
def getAllInfo(df, valenceDict, stopwords): 
    valence_suml = []
    valence_avgl = []
    review_lenl = []
    review_fractionl = []
    for i, row in df.iterrows():
        cleaned_review = removeStopWords(row['text'], stopwords)
        valence_sum, valence_avg, review_len, review_fraction = getValenceInfo(cleaned_review, valenceDict)
        valence_suml.append(valence_sum)
        valence_avgl.append(valence_avg)
        review_lenl.append(review_len)
        review_fractionl.append(review_fraction)
    return pd.DataFrame({'valence_sum': valence_suml, 'valence_avg':valence_avgl ,'review_len': review_lenl, 
                         'review_fraction': review_fractionl})

In [97]:
word = ""
len(word)

0

In [98]:
IMDB_df.shape

(4111, 6)

In [99]:
%%time
new_df = getAllInfo(IMDB_df, valences, stopwords)

CPU times: user 2min 55s, sys: 1.39 s, total: 2min 56s
Wall time: 3min 2s

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal

In [100]:
new_df

      review_fraction  review_len  valence_avg  valence_sum
0            0.083333         120     1.400000           14
1            0.123077          65     1.375000           11
2            0.173333          75     0.384615            5
3            0.106383         235    -0.080000           -2
4            0.052980         302     0.312500            5
5            0.088235          34     2.666667            8
6            0.169811         159     1.185185           32
7            0.115702         121     2.000000           28
8            0.102151         186     1.368421           26
9            0.111702         188     1.142857           24
10           0.178947          95     1.705882           29
11           0.169742         271     0.500000           23
12           0.221374         131     0.517241           15
13           0.109091         165     0.333333            6
14           0.127376         526     0.776119           52
15           0.109145         339    -0.108108           -4
16           0.204545          44     1.111111           10
17           0.084337         913     0.285714           22
18           0.078431         255     1.500000           30
19           0.105960         302     1.500000           48
20           0.130952          84    -0.363636           -4
21           0.143369         279     0.000000            0
22           0.147541         122     0.500000            9
23           0.152174          46     2.714286           19
24           0.208333          24     2.000000           10
25           0.258065          31    -0.250000           -2
26           0.130890         191     1.760000           44
27           0.154545         110     0.470588            8
28           0.164384          73     1.416667           17
29           0.085271         129     1.727273           19
...               ...         ...          ...          ...
4081         0.142857         105     0.200000            3
4082         0.163636          55     0.111111            1
4083         0.090253         277     0.080000            2
4084         0.223214         112     0.520000           13
4085         0.093333          75    -0.571429           -4
4086         0.144231         104     1.000000           15
4087         0.140000         450     0.126984            8
4088         0.111111         306     0.441176           15
4089         0.102273          88    -0.222222           -2
4090         0.094017         234     1.000000           22
4091         0.081633          49     1.250000            5
4092         0.040000          25     4.000000            4
4093         0.076923          39     2.000000            6
4094         0.116883          77     0.444444            4
4095         0.144928          69     0.400000            4
4096         0.062992         127    -1.875000          -15
4097         0.059172         169     0.300000            3
4098         0.090361         166     2.200000           33
4099         0.150685          73     1.727273           19
4100         0.100000          90     2.222222           20
4101         0.153846          78     1.583333           19
4102         0.049751         201     1.700000           17
4103         0.093750         224     0.142857            3
4104         0.161616          99     0.625000           10
4105         0.145553         371    -0.314815          -17
4106         0.263158          19    -1.200000           -6
4107         0.102362         127    -0.307692           -4
4108         0.140000         100     0.857143           12
4109         0.125000          88     0.454545            5
4110         0.101064         188    -0.105263           -2

[4111 rows x 4 columns]

In [70]:
test_df = IMDB_df[IMDB_df.movie_id == 10027]

In [72]:
test_df

   movie_id movie_name positive  stars                                               text                                                url
0     10027    Titanic     True      7  Sure, Titanic was a good movie, the first time...  http://www.imdb.com/title/tt0120338/usercommen...

In [108]:
nostop = removeStopWords(IMDB_df[IMDB_df.movie_id == 10027].text[0], stopwords).lower()
nostop

u"sure titanic good movie time it really second time opinion film definetly change the time movie underlying love-story think ooh romantic the second time (and i think this just annoying just sit watching movie thinking when d**n ship going sink and impressive times the acting film bad definetly great either was i glad dicaprio did win oscar film i mean does think is anthony hopkins denzel washington he does 1 half-good movie won't film $20 million and suprised hardly films it but about eyes worst character film kate winslet's performance hand wonderful i tink director talented film magnitude together there lesson learned movie love-stories is filmmakers shouldn't try add crummy romance single movie out possible 100 i film mere 71 "

In [109]:
getValenceInfo(nostop, happiness)

(38.020792408535023, 0.37644348919341608, 120, 0.8416666666666667)

In [13]:
# Let's use the labMT dictionary
url = 'http://www.plosone.org/article/fetchSingleRepresentation.action?uri=info:doi/10.1371/journal.pone.0026752.s001'
labmt = pd.read_csv(url, skiprows=2, sep='\t', index_col=0)
 
average = labmt.happiness_average.mean()
happiness = (labmt.happiness_average - average).to_dict()
 
def score(text):
    words = text.split()
    return sum([happiness.get(word.lower(), 0.0) for word in words]) / len(words)

IndexError: list index out of range

In [65]:
labmt.head()

           happiness_rank  happiness_average  happiness_standard_deviation twitter_rank google_rank nyt_rank lyrics_rank
word
laughter                1               8.50                        0.9313         3600          --       --        1728
happiness               2               8.44                        0.9723         1853        2458       --        1230
love                    3               8.42                        1.1082           25         317      328          23
happy                   4               8.30                        0.9949           65        1372     1313         375
laughed                 5               8.26                        1.1572         3334        3542       --        2332

In [66]:
IMDB_df[IMDB_df.movie_id == 10027]['text'][0]

u"Sure, Titanic was a good movie, the first time you see it, but you really should see it a second time and your opinion of the film will definetly change. The first time you see the movie you see the underlying love-story and think: ooh, how romantic. The second time (and I am not the only one to think this) it is just annoying and you just sit there watching the movie thinking, When is this d**n ship going to sink??? And even this is not as impressive when you see it several times. The acting in this film is not bad, but definetly not great either. Was I glad DiCaprio did not win an oscar for that film, I mean who does he think he is, Anthony Hopkins or Denzel Washington? He does 1 half-good movie and won't do a film for less than $20 million. And then everyone is suprised that there are hardly any films with him in it. But enough about, in my eyes, the worst character of the film. Kate Winslet's performance on the other hand was wonderful. I also tink that the director is very talented to put a film of such a magnitude together. There is one lesson to be learned about this movie: there are too many love-stories as it is, filmmakers shouldn't try to add a crummy romance in to every single movie!!! Out of a possible 100% I give this film a mere 71%."

In [69]:
getValenceInfo(IMDB_df[IMDB_df.movie_id == 10027]['text'][0],happiness)

(10.386857757785162, 0.057704765321028674, 244, 0.7377049180327869)